<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/assets/css/style.css" th:href="@{/assets/css/style.css}" />
    <title>Counter</title>
</head>
<body>
<h1>Input</h1>
<form action="/counter" method="get">
  <label for="counter-value">
    Enter the value
  </label>
  <input type="text" placeholder="In seconds" name="counterValue" id="counter-value"/>
  <input type="submit" value="send" />
</form>
</body>
</html>